<!DOCTYPE html>
<html>

    <head>
        <title>Baseball Recommender </title>
        <link rel = "stylesheet" type = "text/css" href = "../static/style.css">
    </head>
    
    <body>
        <div class="header" style = "background-image: url(../static/img/baseball_header.jpeg)">
              <h1 style = 'font-size: 60px; color: white'>Baseball Broadcast</h1>
              <p>IG Corporation</p>
        </div>
        <div class="topnav">
          <a class="active" href="#home">About</a>
          <a href="#news">News</a>
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
        </div>
    </body>
</html>