<!DOCTYPE html>
<html>

    <head>
        <title>Baseball Scout </title>
        <link rel = "stylesheet" type = "text/css" href = "../static/style.css">
    </head>
    
    <body>
        <div class="header">
              <h1 style = 'font-size: 60px; color: white'>Baseball Scout</h1>
        </div>
        <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/table_b">Batter</a>
          <a href="/table_p">Pitcher</a>
        </div>
        <center>
        <div class = "section__header">
            <h1>Player Recommendation</h1>
        </div>
        </center>
        <center>
        <div class = "form">
            <form action="/result">
                <p>
                    <label for="PlayerName">Enter Player Name</label><br>
                    <input type="text" name="PlayerName" size="30">
                </p>
             
                <p>Choose Player's Position:</p>
                <input type="radio" id="batter" name="Position" value="Batter">
                <label for="batter">Batter</label>
                <input type="radio" id="pitcher" name="Position" value="Pitcher">
                <label for="pitcher">Pitcher</label>
                <p><button type="submit">Submit</button></p>
            </form>
        </div>
        </center>
    </body>
</html>